body {
background-color: #90c0ff;
}

#output {

}

.backLink{
    color:#0000EE;
    text-align: center;
    margin-left: auto;
}

/*
All SpookAthon css
*/
.spookyLink{
    color: orange;
}

.spooky {
    background-color: #24221e;
    color: orange;
    padding: 1em;
    border-radius: 0.5em;
    margin: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 25em;
    top: 150px;
    left: 10px;
}

.spookyBox {
    color: orange;
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
    padding: 20px;
}

/*
All SpookAthon css
*/

h1 {
    color:  #000000;
    background-color: #e7da62;
    border-radius: .25em;
    text-align: center;
    font-size: 3em;
}
h2{
    text-align: left;
    color: #000000;
}